/* Inspired by Skeleton V1.1 by Dave Gamache at www.getskeleton.com - Free to use under the open-source MIT license */
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Images
	#Forms
	#Tables
	#Misc
	#Non semantic helper classes
	#Print styles */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* #Basic Styles
================================================== */
body {
  background: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: Trebuchet, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
}
/*  This section of selectors is for absolute positioning the footer on the bottom */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  position: relative;
}
.ie6 #wrap {
  height: 100%;
}
#wrap > .container {
  padding-bottom: 80px;
  margin-top: 50px;
}
footer {
  position: absolute;
  bottom: 0;
}
section {
  padding-bottom: 20px;
  border-bottom: 1px dotted #cccccc;
}
/* #Typography
================================================== */
/*	Headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
  font-family: Trebuchet, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 46px;
  /* 46px */
  line-height: 50px;
  margin-bottom: 14px;
}
h1 small {
  font-size: 28px;
}
h2 {
  font-size: 35px;
  /* 35px */
  line-height: 40px;
  margin-bottom: 10px;
}
h3 {
  font-size: 28px;
  /* 28px */
  line-height: 34px;
  margin-bottom: 8px;
  color: #999999;
}
h4 {
  font-size: 21px;
  /* 21px */
  line-height: 30px;
  margin-bottom: 4px;
}
h5 {
  font-size: 15px;
  /* 15px */
  line-height: 21px;
  font-weight: bold;
}
h6 {
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  text-transform: uppercase;
}
.subheader {
  color: #999999;
}
.sectionheader {
  margin: 1.5em 0 1em;
  line-height: 1.2;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 10px;
}
/*	Paragraphs  */
p {
  margin: 0 0 20px 0;
  line-height: 21px;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #999999;
}
/*	Emphasis  */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #555555;
}
small {
  font-size: 80%;
}
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 17px;
  line-height: 21px;
  color: #999999;
  font-style: italic;
}
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #cccccc;
}
blockquote cite {
  display: block;
  font-size: 13px;
  color: #999999;
  font-style: normal;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #cccccc;
}
/*	Code  */
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 12px;
  line-height: 21px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}
pre code {
  padding: 0;
  background-color: transparent;
}
/*	Address  */
address {
  display: block;
  margin-bottom: 21px;
  line-height: 21px;
  font-style: normal;
}
/* #Links
================================================== */
a,
a:visited {
  color: #7bc144;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: #578b2e;
}
p a,
p a:visited {
  line-height: inherit;
}
/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: uses Herbalife green! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #7bc144;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #7bc144;
  color: #ffffff;
  text-shadow: none;
}
/* #Lists
================================================== */
ul,
ol {
  padding: 0;
  margin: 0 0 10.5px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 21px;
}
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 21px;
}
dt,
dd {
  line-height: 21px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10.5px;
}
/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
/* #Forms
================================================== */
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 14px Trebuchet, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999999;
  margin: 0;
  width: 220px;
  max-width: 100%;
  display: block;
  float: none;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #555555;
  background: #fcfcfc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 60px;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
select {
  width: 220px;
  background: url(../images/dropdown-arrow.png) no-repeat right 0;
  -webkit-appearance: none;
}
select:hover {
  background: url(../images/dropdown-arrow.png) no-repeat right -21px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 14px;
  color: #999999;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
/* #Tables
================================================== */
table {
  margin-bottom: 1.4em;
  width: 100%;
}
table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  margin: 0;
  padding: 0;
}
th {
  border-bottom: 2px solid #cccccc;
  font-weight: bold;
}
td {
  border-bottom: 1px solid #cccccc;
}
td:first-child,
th:first-child {
  padding-left: 10px;
}
th,
td {
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
  text-align: left;
}
caption {
  background: #ffc;
}
table [class*="span"] {
  float: none;
  margin-left: 0;
  display: static;
}
/* #Misc
================================================== */
hr {
  border: dotted #cccccc;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 10px !important;
}
.add-bottom {
  margin-bottom: 20px !important;
}
.muted {
  color: #999999;
}
/* Color swatches on LESS docs page
	-------------------------------------------------- */
/* Sets the width of the td */
.swatch-col {
  width: 30px;
}
/* Le swatch */
.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* For white swatches, give a border */
.swatch-bordered {
  width: 28px;
  height: 18px;
  border: 1px solid #eee;
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Inspired by Skeleton V1.1 by Dave Gamache at www.getskeleton.com - Free to use under the open-source MIT license */
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.row {
  margin-bottom: 20px;
}
.span1 > .row,
.span2 > .row,
.span3 > .row,
.span4 > .row,
.span5 > .row,
.span6 > .row,
.span7 > .row,
.span8 > .row,
.span9 > .row,
.span10 > .row,
.span11 > .row,
.span12 > .row {
  margin-bottom: 0;
}
/* Gridsample is for styleguide reference only. Do NOT use class .gridsample anywhere other than styleguide page. */
.gridsample .span1,
.gridsample .span2,
.gridsample .span3,
.gridsample .span4,
.gridsample .span5,
.gridsample .span6,
.gridsample .span7,
.gridsample .span8,
.gridsample .span9,
.gridsample .span10,
.gridsample .span11,
.gridsample .span12 {
  background: #efefef;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
}
.gridsample > .row:hover div {
  background: #CCC;
}
.gridsample > .row div > .row div {
  background: #DDD;
}
/* Nested span Classes */
.first {
  margin-left: 0;
}
.last {
  margin-right: 0;
}
/* Base Grid */
.container .span1 {
  width: 60px;
}
.container .span2 {
  width: 140px;
}
.container .span3 {
  width: 220px;
}
.container .span4 {
  width: 300px;
}
.container .span5 {
  width: 380px;
}
.container .span6 {
  width: 460px;
}
.container .span7 {
  width: 540px;
}
.container .span8 {
  width: 620px;
}
.container .span9 {
  width: 700px;
}
.container .span10 {
  width: 780px;
}
.container .span11 {
  width: 860px;
}
.container .span12 {
  width: 940px;
}
/* Offsets */
.container .offset1 {
  padding-left: 80px;
}
.container .offset2 {
  padding-left: 160px;
}
.container .offset3 {
  padding-left: 240px;
}
.container .offset4 {
  padding-left: 320px;
}
.container .offset5 {
  padding-left: 400px;
}
.container .offset6 {
  padding-left: 480px;
}
.container .offset7 {
  padding-left: 560px;
}
.container .offset8 {
  padding-left: 640px;
}
.container .offset9 {
  padding-left: 720px;
}
.container .offset10 {
  padding-left: 800px;
}
.container .offset11 {
  padding-left: 880px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .first {
    margin-left: 0;
    margin-right: 10px;
  }
  .last {
    margin-right: 0;
    margin-left: 10px;
  }
  .container .span1 {
    width: 44px;
  }
  .container .span2 {
    width: 108px;
  }
  .container .span3 {
    width: 172px;
  }
  .container .span4 {
    width: 236px;
  }
  .container .span5 {
    width: 300px;
  }
  .container .span6 {
    width: 364px;
  }
  .container .span7 {
    width: 428px;
  }
  .container .span8 {
    width: 492px;
  }
  .container .span9 {
    width: 556px;
  }
  .container .span10 {
    width: 620px;
  }
  .container .span11 {
    width: 684px;
  }
  .container .span12 {
    width: 748px;
  }
  /* Offsets */
  .container .offset1 {
    padding-left: 64px;
  }
  .container .offset2 {
    padding-left: 128px;
  }
  .container .offset3 {
    padding-left: 192px;
  }
  .container .offset4 {
    padding-left: 256px;
  }
  .container .offset5 {
    padding-left: 320px;
  }
  .container .offset6 {
    padding-left: 384px;
  }
  .container .offset7 {
    padding-left: 448px;
  }
  .container .offset8 {
    padding-left: 512px;
  }
  .container .offset9 {
    padding-left: 576px;
  }
  .container .offset10 {
    padding-left: 640px;
  }
  .container .offset11 {
    padding-left: 704px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    margin: 0;
  }
  .container .span1,
  .container .span2,
  .container .span3,
  .container .span4,
  .container .span5,
  .container .span6,
  .container .span7,
  .container .span8,
  .container .span9,
  .container .span10,
  .container .span11,
  .container .span12 {
    width: 300px;
    margin: 0;
  }
  /* Offsets */
  .container .offset1,
  .container .offset2,
  .container .offset3,
  .container .offset4,
  .container .offset5,
  .container .offset6,
  .container .offset7,
  .container .offset8,
  .container .offset9,
  .container .offset10,
  .container .offset11,
  .container .offset12 {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    margin: 0;
  }
  .container .span1,
  .container .span2,
  .container .span3,
  .container .span4,
  .container .span5,
  .container .span6,
  .container .span7,
  .container .span8,
  .container .span9,
  .container .span10,
  .container .span11,
  .container .span12 {
    width: 420px;
    margin: 0;
  }
}
/* #Clearing
================================================== */
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1;
}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font-icons/fontawesome-webfont.eot');
  src: url('../font-icons/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font-icons/fontawesome-webfont.woff') format('woff'), url('../font-icons/fontawesome-webfont.ttf') format('truetype'), url('../font-icons/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../font-icons/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
/* the-icons */
.the-icons li[class^="icon-"],
.the-icons li[class*=" icon-"] {
  cursor: pointer;
  margin-top: -3px;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}
.the-icons li[class^="icon-"]:after,
.the-icons li[class*=" icon-"]:after {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  content: attr(class);
}
.the-icons li[class^="icon-"]:hover:before,
.the-icons li[class*=" icon-"]:hover:before {
  font-size: 24px;
  text-indent: -1.3333333333333333em;
  vertical-align: middle;
}
/* #Buttons
================================================== */
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  color: #555555;
  line-height: 21px;
  font-family: Trebuchet, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(15%, #ffffff), to(#d9d9d9));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 15%, #d9d9d9);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-image: -o-linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-image: linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
  border: 1px solid #cccccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:first-child {
  *margin-left: 0;
}
a.btn {
  color: #555555;
}
.btn:hover {
  color:white;
  text-decoration: none;
  background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  box-shadow: inset 0 100px 0.5px 0 rgb(89, 226, 71), 0 1px 17px rgb(64, 12, 206);
word-spacing: 2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
.btn-large {
  padding: 9px 14px !important;
  font-size: 16px !important;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large .icon {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px !important;
  font-size: 9px !important;
  line-height: 12px !important;
}
.btn-small .icon {
  margin-top: -1px;
}
.btn-primary,
.btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff !important;
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #8bc95b;
  background-image: -moz-linear-gradient(top, #96ce6a, #7bc144);
  background-image: -ms-linear-gradient(top, #96ce6a, #7bc144);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96ce6a), to(#7bc144));
  background-image: -webkit-linear-gradient(top, #96ce6a, #7bc144);
  background-image: -o-linear-gradient(top, #96ce6a, #7bc144);
  background-image: linear-gradient(top, #96ce6a, #7bc144);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96ce6a', endColorstr='#7bc144', GradientType=0);
  border-color: #7bc144 #7bc144 #578b2e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #7bc144;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #639e34 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.large,
input[type="submit"].btn.large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.small,
input[type="submit"].btn.small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.nav {
  margin-left: 0;
  margin-bottom: 21px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
}
.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  display: block;
  padding: 3px 15px;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list .nav-header {
  font-size: 11px;
  font-weight: bold;
  line-height: 21px;
  color: #cccccc;
  text-transform: uppercase;
}
.nav-list > li + .nav-header {
  margin-top: 9px;
}
.nav-list .active > a,
.nav-list .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #7bc144;
}
.nav-list [class^="icon-"] {
  margin-right: 2px;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
  margin-right: 2px;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li:hover {
  background-color: #efefef;
  border-color: #efefef #efefef #dddddd;
}
.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
}
.nav-tabs > .active,
.nav-tabs > .active:hover {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > .active > a,
.nav-tabs > .active:hover > a {
  color: #999999;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills .active > a,
.nav-pills .active > a:hover {
  color: #ffffff;
  background-color: #7bc144;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu {
  margin-top: 1px;
  border-width: 1px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #7bc144;
  margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #578b2e;
}
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #555555;
}
.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.nav .open .caret,
.nav .open.active .caret,
.nav .open a:hover .caret {
  border-top-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover {
  border-color: #cccccc;
}
.tabbable {
  *zoom: 1;
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
}
.tabbable:after {
  clear: both;
}
.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below .nav-tabs > li > a:hover {
  border-bottom-color: transparent;
  border-top-color: #ddd;
}
.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none;
}
.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left .nav-tabs > li > a:hover {
  border-color: #efefef #dddddd #efefef #efefef;
}
.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right .nav-tabs > li > a:hover {
  border-color: #efefef #efefef #efefef #dddddd;
}
.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
/* menu icon */
#menu-icon {
  display: none;
  /* hide menu icon initially */

}
#nav-wrap {
  margin-top: 20px;
  *zoom: 1;
  *zoom: 1;
}
#nav-wrap:before,
#nav-wrap:after {
  display: table;
  content: "";
}
#nav-wrap:after {
  clear: both;
}
#nav {
  *zoom: 1;
  *zoom: 1;
}
#nav:before,
#nav:after {
  display: table;
  content: "";
}
#nav:after {
  clear: both;
}
#nav,
#nav li {
  margin: 0;
  padding: 0;
}
#nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
/* nav link */
#nav a {
  padding: 5px 10px;
  display: block;
  color: #7bc144;
}
#nav a:hover,
#nav .dropdown:hover {
  background: #ffffff;
  color: #7bc144 !important;
}
#nav a:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
#nav .dropdown:hover > a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
/* nav dropdown */
#nav ul {
  background: #fff;
  position: relative;
  margin: 0;
  display: none;
  /* hide dropdown */

  width: 200px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#nav li:hover > ul {
  display: block;
  /* show dropdown on hover */

  position: absolute;
  z-index: 10;
}
#nav li:hover > ul a:hover {
  background: #7bc144;
  color: #ffffff !important;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
#nav li:hover > ul li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#nav .drop a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  /* nav-wrap */
  #nav-wrap {
    position: relative;
    /* make it fixed by adding: position: fixed; top:0; */
    margin: 0;
    width: 100%;
    z-index: 1030;
  }
  /* menu icon */
  #menu-icon {
    color: #ffffff;
    width: 100%;
    height: 30px;
    background: #7bc144 url(../images/menu-icon.png) no-repeat 10px center;
    padding: 8px 10px 0 42px;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: block;
    /* show menu icon */
  
  }
  #menu-icon:hover {
    background-color: #578b2e;
  }
  #menu-icon.active {
    background-color: #7bc144;
  }
  /* main nav */
  #nav {
    clear: both;
    position: absolute;
    top: 38px;
    width: 100%;
    padding: 0;
    background: #7bc144;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: none;
    /* visibility will be toggled with jquery */
  
  }
  #nav li {
    clear: both;
    float: none;
    padding: 0;
    margin: 0;
  }
  #nav li:hover ul {
    position: relative;
  }
  #nav a,
  #nav a:hover {
    font: inherit;
    background: #7bc144;
    display: block;
    padding: 8px 0;
    color: #ffffff !important;
    border: none;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    width: 100%;
  }
  #nav > li > a,
  #nav > li > a:hover,
  #nav .dropdown > a,
  #nav .dropdown:hover > a {
    border-top: 1px solid #578b2e;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    text-indent: 20px;
  }
  /* dropdown */
  #nav ul {
    width: auto;
    position: static;
    display: block;
    border: none;
    background: inherit;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  #nav .drop {
    display: none;
  }
  #nav .drop a {
    background: #578b2e;
    text-indent: 40px;
  }
  #nav li:hover > ul li:last-child a {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  /* ensure #nav is visible on desktop version */
  #nav {
    display: block !important;
  }
}
.pagination {
  height: 42px;
  margin: 21px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 40px;
  text-decoration: none;
  border: 1px solid #cccccc;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #efefef;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pager {
  margin-left: 0;
  margin-bottom: 21px;
  list-style: none;
  text-align: center;
  *zoom: 1;
  *zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #efefef;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
}
.thumbnails:after {
  clear: both;
}
.thumbnails > li {
  float: left;
  margin: 0 0 21px 20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a.thumbnail:hover {
  border-color: #7bc144;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
}
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
header {
  background: #555555 url('../images/black_denim.jpg') repeat;
  width: 100%;
  padding: 10px 0 5px;
  *zoom: 1;
  *zoom: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
header:before,
header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}
header h4 {
    color: white;
    text-shadow: 0 3px 0 blue;
    font-weight: bold;
}
footer {
  background: #555555 url('../images/black_denim.jpg') repeat;
  width: 100%;
  height: 80px;
  color: #ffffff !important;
  padding: 10px 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.middle {
  vertical-align: middle;
}
.bottom {
  vertical-align: bottom;
}
.top {
  vertical-align: top;
}
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
  .row-fluid {
    width: 100%;
  }
  .row {
    margin-left: 0;
  }
  .row > [class*="span"],
  .row-fluid > [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 35px;
  }
  h1 small {
    font-size: 26px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 14px;
  }
  blockquote,
  blockquote p {
    font-size: 14px;
  }
  ul.tabs li a {
    font-size: 13px;
  }
  /* Thumbnails */
  .container .thumbnails > li.span1 {
    width: 60px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span2 {
    width: 87px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span3 {
    width: 200px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span4,
  .container .thumbnails > li.span5,
  .container .thumbnails > li.span6,
  .container .thumbnails > li.span7,
  .container .thumbnails > li.span8,
  .container .thumbnails > li.span9,
  .container .thumbnails > li.span10 {
    width: 300px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span11,
  .container .thumbnails > li.span12 {
    width: 100%;
    margin: 0 0 21px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 35px;
  }
  h1 small {
    font-size: 26px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 14px;
  }
  blockquote,
  blockquote p {
    font-size: 14px;
  }
  ul.tabs li a {
    font-size: 13px;
  }
  /* Thumbnails */
  .container .thumbnails > li.span1 {
    width: 60px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span2 {
    width: 86px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span3 {
    width: 200px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.span4,
  .container .thumbnails > li.span5,
  .container .thumbnails > li.span6,
  .container .thumbnails > li.span7,
  .container .thumbnails > li.span8,
  .container .thumbnails > li.span9,
  .container .thumbnails > li.span10,
  .container .thumbnails > li.span11,
  .container .thumbnails > li.span12 {
    width: 300px;
    margin: 0 0 21px 20px;
  }
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 21px;
  }
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    height: 28px;
    /* Make inputs at least the height of their button counterpart */
  
    /* Makes inputs behave like true block-level elements */
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    width: auto;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
  }
}
