/* Inspired by Skeleton V1.1 by Dave Gamache at www.getskeleton.com - Free to use under the open-source MIT license */
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Tables
	#Misc
	#Non semantic helper classes
	#Print styles */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* #Basic Styles
================================================== */
body {
  background: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
}
/*  This section of selectors is for absolute positioning the footer on the bottom */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}
.ie6 #wrap {
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
}
section {
  padding-bottom: 20px;
  border-bottom: 1px dotted #cccccc;
}
/* #Typography
================================================== */
/*	Headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 46px;
  /* 46px */
  line-height: 50px;
  margin-bottom: 14px;
}
h1 small {
  font-size: 28px;
}
h2 {
  font-size: 35px;
  /* 35px */
  line-height: 40px;
  margin-bottom: 10px;
}
h3 {
  font-size: 28px;
  /* 28px */
  line-height: 34px;
  margin-bottom: 8px;
  color: #666666;
}
h4 {
  font-size: 21px;
  /* 21px */
  line-height: 30px;
  margin-bottom: 4px;
}
h5 {
  font-size: 17px;
  /* 17px */
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  text-transform: uppercase;
}
.subheader {
  color: #666666;
}
.sectionheader {
  margin: 1.5em 0 1em;
  line-height: 1.2;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 10px;
}
/*	Paragraphs  */
p {
  margin: 0 0 20px 0;
  line-height: 21px;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #666666;
}
/*	Emphasis  */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #333333;
}
small {
  font-size: 80%;
}
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 17px;
  line-height: 21px;
  color: #666666;
  font-style: italic;
}
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #cccccc;
}
blockquote cite {
  display: block;
  font-size: 13px;
  color: #666666;
  font-style: normal;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #cccccc;
}
/*	Code  */
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #efefef;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre.normaltxt {
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 100%;
  border: none;
  display: inline;
  font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*	Address  */
address {
  display: block;
  margin-bottom: 21px;
  line-height: 21px;
  font-style: normal;
}
/* #Links
================================================== */
a,
a:visited {
  color: #7bc144;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: #578b2e;
}
p a,
p a:visited {
  line-height: inherit;
}
/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: uses Herbalife green! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #7bc144;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #7bc144;
  color: #ffffff;
  text-shadow: none;
}
/* #Lists
================================================== */
ul,
ol {
  padding: 0;
  margin: 0 0 10.5px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 21px;
}
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 21px;
}
dt,
dd {
  line-height: 21px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10.5px;
}
/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
/* #Forms
================================================== */
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 14px "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #ffffff;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #333333;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 60px;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
select {
  width: 220px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 14px;
  color: #666666;
}
/* #Tables
================================================== */
table {
  margin-bottom: 1.4em;
  width: 100%;
}
table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  margin: 0;
  padding: 0;
}
th {
  border-bottom: 2px solid #cccccc;
  font-weight: bold;
}
td {
  border-bottom: 1px solid #cccccc;
}
td:first-child,
th:first-child {
  padding-left: 10px;
}
th,
td {
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
  text-align: left;
}
caption {
  background: #ffc;
}
/* #Misc
================================================== */
hr {
  border: dotted #cccccc;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 10px !important;
}
.add-bottom {
  margin-bottom: 20px !important;
}
.muted {
  color: #cccccc;
}
/* Color swatches on LESS docs page
	-------------------------------------------------- */
/* Sets the width of the td */
.swatch-col {
  width: 30px;
}
/* Le swatch */
.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* For white swatches, give a border */
.swatch-bordered {
  width: 28px;
  height: 18px;
  border: 1px solid #eee;
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Inspired by Skeleton V1.1 by Dave Gamache at www.getskeleton.com - Free to use under the open-source MIT license */
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.row {
  margin-bottom: 20px;
}
.col1 > .row,
.col2 > .row,
.col3 > .row,
.col4 > .row,
.col5 > .row,
.col6 > .row,
.col7 > .row,
.col8 > .row,
.col9 > .row,
.col10 > .row,
.col11 > .row,
.col12 > .row {
  margin-bottom: 0;
}
/* Gridsample is for styleguide reference only. Do NOT use class .gridsample anywhere other than styleguide page. */
.gridsample .col1,
.gridsample .col2,
.gridsample .col3,
.gridsample .col4,
.gridsample .col5,
.gridsample .col6,
.gridsample .col7,
.gridsample .col8,
.gridsample .col9,
.gridsample .col10,
.gridsample .col11,
.gridsample .col12 {
  background: #efefef;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
}
.gridsample > .row:hover div {
  background: #CCC;
}
.gridsample > .row div > .row div {
  background: #DDD;
}
/* Nested col Classes */
.first {
  margin-left: 0;
}
.last {
  margin-right: 0;
}
/* Base Grid */
.container .col1 {
  width: 60px;
}
.container .col2 {
  width: 140px;
}
.container .col3 {
  width: 220px;
}
.container .col4 {
  width: 300px;
}
.container .col5 {
  width: 380px;
}
.container .col6 {
  width: 460px;
}
.container .col7 {
  width: 540px;
}
.container .col8 {
  width: 620px;
}
.container .col9 {
  width: 700px;
}
.container .col10 {
  width: 780px;
}
.container .col11 {
  width: 860px;
}
.container .col12 {
  width: 940px;
}
/* Offsets */
.container .offset1 {
  padding-left: 80px;
}
.container .offset2 {
  padding-left: 160px;
}
.container .offset3 {
  padding-left: 240px;
}
.container .offset4 {
  padding-left: 320px;
}
.container .offset5 {
  padding-left: 400px;
}
.container .offset6 {
  padding-left: 480px;
}
.container .offset7 {
  padding-left: 560px;
}
.container .offset8 {
  padding-left: 640px;
}
.container .offset9 {
  padding-left: 720px;
}
.container .offset10 {
  padding-left: 800px;
}
.container .offset11 {
  padding-left: 880px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .first {
    margin-left: 0;
    margin-right: 10px;
  }
  .last {
    margin-right: 0;
    margin-left: 10px;
  }
  .container .col1 {
    width: 44px;
  }
  .container .col2 {
    width: 108px;
  }
  .container .col3 {
    width: 172px;
  }
  .container .col4 {
    width: 236px;
  }
  .container .col5 {
    width: 300px;
  }
  .container .col6 {
    width: 364px;
  }
  .container .col7 {
    width: 428px;
  }
  .container .col8 {
    width: 492px;
  }
  .container .col9 {
    width: 556px;
  }
  .container .col10 {
    width: 620px;
  }
  .container .col11 {
    width: 684px;
  }
  .container .col12 {
    width: 748px;
  }
  /* Offsets */
  .container .offset1 {
    padding-left: 64px;
  }
  .container .offset2 {
    padding-left: 128px;
  }
  .container .offset3 {
    padding-left: 192px;
  }
  .container .offset4 {
    padding-left: 256px;
  }
  .container .offset5 {
    padding-left: 320px;
  }
  .container .offset6 {
    padding-left: 384px;
  }
  .container .offset7 {
    padding-left: 448px;
  }
  .container .offset8 {
    padding-left: 512px;
  }
  .container .offset9 {
    padding-left: 576px;
  }
  .container .offset10 {
    padding-left: 640px;
  }
  .container .offset11 {
    padding-left: 704px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    margin: 0;
  }
  .container .col1,
  .container .col2,
  .container .col3,
  .container .col4,
  .container .col5,
  .container .col6,
  .container .col7,
  .container .col8,
  .container .col9,
  .container .col10,
  .container .col11,
  .container .col12 {
    width: 300px;
    margin: 0;
  }
  /* Offsets */
  .container .offset1,
  .container .offset2,
  .container .offset3,
  .container .offset4,
  .container .offset5,
  .container .offset6,
  .container .offset7,
  .container .offset8,
  .container .offset9,
  .container .offset10,
  .container .offset11,
  .container .offset12 {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    margin: 0;
  }
  .container .col1,
  .container .col2,
  .container .col3,
  .container .col4,
  .container .col5,
  .container .col6,
  .container .col7,
  .container .col8,
  .container .col9,
  .container .col10,
  .container .col11,
  .container .col12 {
    width: 420px;
    margin: 0;
  }
}
/* #Clearing
================================================== */
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1;
}
.pagination {
  height: 42px;
  margin: 21px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 40px;
  text-decoration: none;
  border: 1px solid #cccccc;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #efefef;
}
.pagination .active a {
  color: #666666;
  cursor: default;
}
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #666666;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pager {
  margin-left: 0;
  margin-bottom: 21px;
  list-style: none;
  text-align: center;
  *zoom: 1;
  zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #efefef;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}
/* #Tabs (activate in tabs.js)
================================================== */
ul.tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
}
ul.tabs li {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  float: left;
  margin-bottom: 0;
}
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 29px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #cccccc;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #efefef;
  font-size: 14px;
  color: #666666;
}
ul.tabs li a:hover {
  color: #222222;
}
ul.tabs li a.active {
  background: #ffffff;
  height: 30px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #222222;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
ul.tabs li:first-child a.active {
  margin-left: 0;
}
ul.tabs li:first-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}
ul.tabs li:last-child a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
ul.tabs-content {
  margin: 0;
  display: block;
  list-style: none;
}
ul.tabs-content > li {
  display: none;
}
ul.tabs-content > li.active {
  display: block;
}
/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
ul.tabs:after {
  clear: both;
}
ul.tabs {
  zoom: 1;
}
.tooltip {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
[class^="icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url(../images/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 2px;
  *margin-right: .3em;
}
[class^="icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url(../images/glyphicons-halflings-white.png);
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
/* Icons
------------------------- */
.the-icons {
  margin-bottom: 18px;
}
.the-icons i {
  display: block;
  margin-bottom: 5px;
}
.the-icons i:hover {
  background-color: rgba(255, 0, 0, 0.25);
}
.the-icons i:after {
  display: block;
  content: attr(class);
  font-style: normal;
  margin-left: 20px;
  width: 140px;
}
/* #Buttons
================================================== */
a.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 4px 10px 4px;
  color: #333333;
  line-height: 21px;
  font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(15%, #ffffff), to(#d9d9d9));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 15%, #d9d9d9);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-image: -o-linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-image: linear-gradient(#ffffff, #ffffff 15%, #d9d9d9);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
  border: 1px solid #cccccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
a.btn:first-child,
button:first-child,
input[type="submit"]:first-child,
input[type="reset"]:first-child,
input[type="button"]:first-child {
  *margin-left: 0;
}
a.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333333;
  text-decoration: none;
  background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
a.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
.btn.disabled,
.btn[disabled],
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled:hover {
  background-color: #e6e6e6;
}
.btn.disabled:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.btn.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
.btn-large {
  padding: 9px 14px !important;
  font-size: 16px !important;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large .icon {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px !important;
  font-size: 9px !important;
  line-height: 12px !important;
}
.btn-small .icon {
  margin-top: -1px;
}
.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
}
.thumbnails:after {
  clear: both;
}
.thumbnails > li {
  float: left;
  margin: 0 0 21px 20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a.thumbnail:hover {
  border-color: #7bc144;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
}
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
header {
  background: #333333 url('../images/black_denim.jpg') repeat;
  width: 100%;
  text-align: center;
  color: #ffffff !important;
  padding: 30px 0;
}
header h1 {
  color: #ffffff;
  text-shadow: 0 0 2px #000;
}
footer {
  background: #333333 url('../images/black_denim.jpg') repeat;
  width: 100%;
  height: 80px;
  color: #ffffff !important;
  padding: 10px 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
.middle {
  vertical-align: middle;
}
.bottom {
  vertical-align: bottom;
}
.top {
  vertical-align: top;
}
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 35px;
  }
  h1 small {
    font-size: 26px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  blockquote,
  blockquote p {
    font-size: 14px;
  }
  ul.tabs li a {
    font-size: 13px;
  }
  /* Thumbnails */
  .container .thumbnails > li.col1 {
    width: 60px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col2 {
    width: 87px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col3 {
    width: 200px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col4,
  .container .thumbnails > li.col5,
  .container .thumbnails > li.col6,
  .container .thumbnails > li.col7,
  .container .thumbnails > li.col8,
  .container .thumbnails > li.col9,
  .container .thumbnails > li.col10 {
    width: 300px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col11,
  .container .thumbnails > li.col12 {
    width: 100%;
    margin: 0 0 21px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body {
    font-size: 12px;
  }
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 35px;
  }
  h1 small {
    font-size: 26px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  blockquote,
  blockquote p {
    font-size: 14px;
  }
  ul.tabs li a {
    font-size: 13px;
  }
  /* Thumbnails */
  .container .thumbnails > li.col1 {
    width: 60px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col2 {
    width: 86px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col3 {
    width: 200px;
    margin: 0 0 21px 20px;
  }
  .container .thumbnails > li.col4,
  .container .thumbnails > li.col5,
  .container .thumbnails > li.col6,
  .container .thumbnails > li.col7,
  .container .thumbnails > li.col8,
  .container .thumbnails > li.col9,
  .container .thumbnails > li.col10,
  .container .thumbnails > li.col11,
  .container .thumbnails > li.col12 {
    width: 300px;
    margin: 0 0 21px 20px;
  }
}
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/