/* Inspired by Skeleton V1.1 by Dave Gamache at www.getskeleton.com - Free to use under the open-source MIT license */

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Base styles used in styleguide
@import "base.less"; // All styles in layout.less are built on top of base.less

// Components: Nav
@import "pagination.less";
@import "pager.less";
@import "tabs.less";

// Components: Tooltips
@import "tooltip.less";

// Components: Common
@import "sprites.less";

// Components: Buttons
@import "buttons.less";

// Components: Misc
@import "thumbnails.less";

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
	header { background: @grayDark url('../images/black_denim.jpg') repeat; width:100%; text-align:center; color: @white !important; padding:30px 0; }
 	header h1 { color: @white; text-shadow:0 0 2px #000; }

 	footer { background: @grayDark url('../images/black_denim.jpg') repeat; width:100%; height:70px; text-align:center; color: @white !important; padding:10px 0; }


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		body { font-size: @baseFontSize - 2px; }
		h1 { font-size: @baseFontSize + 21px;
			small { font-size: @baseFontSize + 12px; }
		}
		h2 { font-size: @baseFontSize + 14px; }
		h3 { font-size: @baseFontSize + 7px; }
		h4 { font-size: @baseFontSize + 3px; }
		h5 { font-size: @baseFontSize; }
		h6 { font-size: @baseFontSize - 2px; }
		blockquote, blockquote p { font-size: @baseFontSize; }
		ul.tabs li a { font-size: @baseFontSize - 1px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		body { font-size: @baseFontSize - 2px; }
		body { font-size: @baseFontSize - 2px; }
		h1 { font-size: @baseFontSize + 21px;
			small { font-size: @baseFontSize + 12px; }
		}
		h2 { font-size: @baseFontSize + 14px; }
		h3 { font-size: @baseFontSize + 7px; }
		h4 { font-size: @baseFontSize + 3px; }
		h5 { font-size: @baseFontSize; }
		h6 { font-size: @baseFontSize - 2px; }
		blockquote, blockquote p { font-size: @baseFontSize; }
		ul.tabs li a { font-size: @baseFontSize - 1px; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/