/* Inspired by Skeleton V1.1 by Dave Gamache at www.getskeleton.com - Free to use under the open-source MIT license */

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Grid system and page structure
@import "base.less"; // All styles in layout.less are built on top of base.less
@import "skeleton.less"; // Grid

// Components: Common
@import "sprites.less";

// Components: Buttons
@import "buttons.less";

// Components: Nav
@import "navs.less";
@import "navigation.less";
@import "pagination.less";
@import "pager.less";

// Components: Tooltips
@import "tooltip.less";

// Components: Misc
@import "thumbnails.less";


/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	header { background: @grayDark url('../images/black_denim.jpg') repeat; width:100%; padding:10px 0 5px; .clearfix();  position: fixed; top: 0; right: 0; left: 0; z-index: @zindexFixedNavigation; .box-shadow(); }
 	header h4 { color: @grayDark; text-shadow:0 2px 0 @black; font-weight:bold; }

 	footer { background: @grayDark url('../images/black_denim.jpg') repeat; width:100%; height:80px; color: @white !important; padding:10px 0; }

 	.pull-right { float:right; }
 	.pull-left { float:left; }
 	.middle { vertical-align:middle; }
 	.bottom { vertical-align:bottom; }
 	.top { vertical-align:top; }


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		// GRID & CONTAINERS
		// -----------------
		// Remove width from containers
		.container { width: auto; padding: 0 20px; }

		// Fluid rows
		.row-fluid { width: 100%; }

		// Undo negative margin on rows
		.row { margin-left: 0; }

		// Make all columns even
		.row > [class*="span"],
		.row-fluid > [class*="span"] { float: none; display: block; width: auto; margin: 0; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		body { font-size: @baseFontSize - 1px; }
		h1 { font-size: @baseFontSize + 21px;
			small { font-size: @baseFontSize + 12px; }
		}
		h2 { font-size: @baseFontSize + 14px; }
		h3 { font-size: @baseFontSize + 7px; }
		h4 { font-size: @baseFontSize + 3px; }
		h5 { font-size: @baseFontSize; }
		h6 { font-size: @baseFontSize; }
		blockquote, blockquote p { font-size: @baseFontSize; }
		ul.tabs li a { font-size: @baseFontSize - 1px; }

	/* Thumbnails */
		.container .thumbnails > li.span1 { width: 60px; margin:0 0 @baseLineHeight 20px; }
		.container .thumbnails > li.span2 { width: 87px; margin:0 0 @baseLineHeight 20px; }
		.container .thumbnails > li.span3 { width: 200px; margin:0 0 @baseLineHeight 20px; }
		.container .thumbnails > li.span4,
		.container .thumbnails > li.span5,
		.container .thumbnails > li.span6,
		.container .thumbnails > li.span7,
		.container .thumbnails > li.span8,
		.container .thumbnails > li.span9,
		.container .thumbnails > li.span10 { width: 300px; margin:0 0 @baseLineHeight 20px; }
		.container .thumbnails > li.span11,
		.container .thumbnails > li.span12 { width: 100%; margin:0 0 @baseLineHeight 10px; .box-sizing(border-box); }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		body { font-size: @baseFontSize - 1px; }
		h1 { font-size: @baseFontSize + 21px;
			small { font-size: @baseFontSize + 12px; }
		}
		h2 { font-size: @baseFontSize + 14px; }
		h3 { font-size: @baseFontSize + 7px; }
		h4 { font-size: @baseFontSize + 3px; }
		h5 { font-size: @baseFontSize; }
		h6 { font-size: @baseFontSize; }
		blockquote, blockquote p { font-size: @baseFontSize; }
		ul.tabs li a { font-size: @baseFontSize - 1px; }
	
	/* Thumbnails */
		.container .thumbnails > li.span1 { width: 60px; margin:0 0 @baseLineHeight 20px; }
	    .container .thumbnails > li.span2 { width: 86px; margin:0 0 @baseLineHeight 20px; }
		.container .thumbnails > li.span3 { width: 200px; margin:0 0 @baseLineHeight 20px; }
		.container .thumbnails > li.span4,
		.container .thumbnails > li.span5,
		.container .thumbnails > li.span6,
		.container .thumbnails > li.span7,
		.container .thumbnails > li.span8,
		.container .thumbnails > li.span9,
		.container .thumbnails > li.span10,
		.container .thumbnails > li.span11,
		.container .thumbnails > li.span12 { width: 300px; margin:0 0 @baseLineHeight 20px; }

		// Smooth out the collapsing/expanding nav
		.nav-collapse { -webkit-transform: translate3d(0, 0, 0); // activate the GPU
		}

		// Block level the page header small tag for readability
		.page-header h1 small { display: block; line-height: @baseLineHeight; }

		// Make span* classes full width
		input[class*="span"],
		select[class*="span"],
		textarea[class*="span"],
		.uneditable-input { display: block; width: 100%;
		height: 28px; /* Make inputs at least the height of their button counterpart */
		/* Makes inputs behave like true block-level elements */
		.box-sizing(border-box);
		}
		
		// But don't let it screw up prepend/append inputs
		.input-prepend input[class*="span"],
		.input-append input[class*="span"] { width: auto; }

		// Update checkboxes for iOS
		input[type="checkbox"],
		input[type="radio"] { border: 1px solid #ccc; }

		// Remove the horizontal form styles
		.form-horizontal .control-group > label { float: none; width: auto; padding-top: 0; text-align: left; }

		// Move over all input controls and content
		.form-horizontal .controls { margin-left: 0; }

		// Move the options list down to align with labels
		.form-horizontal .control-list {
		padding-top: 0; // has to be padding because margin collaspes
		}
		
		// Move over buttons in .form-actions to align with .controls
		.form-horizontal .form-actions { padding-left: 10px; padding-right: 10px; }

		// Modals
		.modal { position: absolute; top:   10px; left:  10px; right: 10px; width: auto; margin: 0;
			&.fade.in { top: auto; }
		}

		.modal-header .close { padding: 10px; margin: -10px; }

		// Carousel
		.carousel-caption { position: static; }
	}

	// TABLETS AND BELOW
	// -----------------
	@media (max-width: 980px) {

	  // UNFIX THE TOPBAR
	  // ----------------
	  // Remove any padding from the body
	  body {
	    padding-top: 0;
	  }
	}

	// DEFAULT DESKTOP
	// ---------------

	@media (min-width: 980px) {
	  .nav-collapse.collapse {
	    height: auto !important;
	  }
	}

