// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------

// Links
@linkColor:             #7BC144; // HL Green.  Or try #08c; for a nice blue
@linkColorHover:        darken(@linkColor, 15%);

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #666;
@grayLight:             #ddd;
@grayLighter:           #efefef;
@white:                 #fff;

// Colors
@green:					#7BC144;
@orange:				#FFA438;

// Typography
@baseFontSize:          14px;
@baseFontFamily:        "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        21px;
@textColor:             @grayDark;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexTooltip:         1000;
