// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------

// Links
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #666;
@grayLight:             #ccc;
@grayLighter:           #efefef;
@white:                 #fff;

// Typography
@baseFontSize:          14px;
@baseFontFamily:        "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        21px;
@textColor:             @grayDark;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:        1000;
@zindexPopover:         1010;
@zindexTooltip:         1020;
@zindexFixedNavbar:     1030;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;